site_name: Lyra Documentation
site_url: https://docs.lyra.ovh
site_description: Complete installation and administration guide for Lyra Platform
site_author: Lyra Team

# Repository
repo_url: https://github.com/amreinch/lyra
repo_name: lyra

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy

  font:
    text: Roboto
    code: Roboto Mono

  logo: assets/logo.png
  favicon: assets/favicon.png

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Plugins
plugins:
  - search
  - glightbox  # Image lightbox

# Extra CSS
extra_css:
  - stylesheets/extra.css

# Extra JavaScript
extra_javascript:
  - javascripts/extra.js

# Navigation
nav:
  - Home: index.md
  - Installation & Updates:
    - installation/index.md
    - Prerequisites: installation/prerequisites.md
    - Initial Deployment: installation/initial-deployment.md
    - Updates & Maintenance: installation/updates.md

# Footer
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/amreinch/lyra
  generator: false  # Remove "Made with Material for MkDocs" footer
